<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work</title>
    <style>
   body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #1d9bb1 0%,
    #1b6ca8 25%,
    #224c7b 50%,
    #2b3a5a 75%,
    #1e2525 100%
  );
  font-family: sans-serif;
}
    </style>
</head>
<body>
    <h1>Class: <%= studentData.class %> | Section: <%= studentData.section %></h1>
    <h2> I AM FROM EJS</h2>
</body>
</html>